.fade-in {
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fade-in_visible {
    opacity: 1; 
    overflow: inherit;
}
.stepper{
    display: none;
}
.tailored .wrapper{
    display: flex;
}
.tailored{
    padding-top: 131px;
    
}
.img{
    position: absolute;
    right: 0;
    transition: .5s;
}
.tailored .img:nth-child(2){
    display: none;
}
.tailored .img:nth-child(3){
    display: none;
}
.tailored .img:nth-child(4){
    display: none;
}
.tailored_content{
    max-width: 503px;
    padding-top: 104px;
}
.tailored_content_text_title{
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 50px;
}
.tailored_content_text_parag{
    line-height: 20px;
    margin-bottom: 48px;
}




.curcile{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
}
.mobile_curcile{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
}
.mobile_dark_curcile{
    background-color: #6A6D70;
    border-radius: 50%;
    position: absolute;
}
.dark_curcile{
    background-color: #6A6D70;
    border-radius: 50%;
    position: absolute;
}
.pulse{
    animation: pulse .8s ease-in-out infinite;
}
.dark_pulse{
    animation: darkPulse .8s ease-in-out infinite;
}

@keyframes darkPulse {
    0% {
        box-shadow: 0 0 5px 2px #6A6D70;
      }
      50% {
        box-shadow: 0 0 10px 10px #6A6D70;
      }
      100% {
        box-shadow: 0 0 5px 2px #6A6D70;
      }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 2px white;
      }
      50% {
        box-shadow: 0 0 10px 10px white;
      }
      100% {
        box-shadow: 0 0 5px 2px white;
      }
}
/* Services */

.services{
    margin-bottom: 80px;
}
.services_cards_card_content_title{
    text-align: center;
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 30px;
}
.services_cards_card{
    margin: 48px 0;
    padding: 64px 0;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.services_cards_card:nth-child(1){
    background: url('src/assets/img/services_bg_fs.svg') 0 0/cover;
}
.services_cards_card:nth-child(2){
    background: url('src/assets/img/services_bg_sc.svg') 0 0/cover ;
}
.services_cards_card:nth-child(3){
    background: url('src/assets/img/services_bg_th.svg') 0 0/cover ;
}
.services_cards_card_content{
    background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.55) 11.72%, rgba(255, 255, 255, 0.21) 89.81%);
    backdrop-filter: blur(20px);
    padding: 48px 0;
    width: 100%;
    transition: .5s;
}
.services_cards_card_content_title{
    margin-bottom: 32px;
}
.services_cards_card_content_texts{
    margin-bottom: 40px;
}
.services_cards_card_content_texts_text{
    margin-bottom: 15px;
}
.services_cards_card_content_texts_text_description{
    padding: 24px;
    background: rgba(230, 235, 241, 0.5);
    border-radius: 4px;
}
.services_cards_card_content_texts_tabled{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.services_cards_card_content_texts_tabled table{
    width: calc(99%/4);
}
.services_cards_card_content_texts_tabled tr{
    display: flex;
    flex-direction: column;
}
.services_cards_card_content_texts_tabled tr td{
    background: #FBFBFB;
    margin: 3px 0;
    color: #456080;
    padding: 5px 0 5px 16px;
    border-radius: 3.2px;  
}
.services_cards_card_content_texts_tabled tr th{
    background: #537399;
    border-radius: 4px; 
    margin: 3px 0;
    color: #FBFBFB;
    padding: 5px 0 5px 16px;
    text-align: start;
    transition: .5s;
}
.services_cards_card_content_button{
    display: flex;
}

/* Services */

/* Help */

.help{
    margin-bottom: 80px;
}
.help_card{
    background: #FBFBFB;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 56px 0;
    position: relative;
    transition: .5s;
}
.help_card_content_toggles_toggle_questions{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background: #537399;
    border-radius: 4px ;
    transition: .5s;
}
.help_card_content_toggles_toggle_questions_text{
    font-weight: 700;
    color: #FBFBFB;
}
.help_card_content_toggles_toggle_questions_img{
    display: flex;
    align-items: center;
}
.help_card_content_toggles_toggle .help_card_content_toggles_toggle_questions_img img{
    transition: .5s;
}
.help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_questions_img img{
    transform: rotate(180deg);
}
.help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_questions{
    border-radius: 4px 4px 0px 0px;
}
.help_card_content_toggles_toggle_text{
    background: #EFF3F6;
    border-radius: 0px 0px 4px 4px;
    max-height: 0;
    opacity: 0;
    transition: .5s ;
    padding: 0 24px;
}
.help_card_content_toggles_toggle_wrapper{
    cursor: pointer;
    position: relative;
    z-index: 9999;
    
}
.help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_text{
    max-height: 500px;
    opacity: 1;
    transition: .5s;
    padding: 24px; 
}
.help_card_content_toggles_toggle{
    margin: 24px 0;
}
.help_card_content_toggles_title{
    text-align: center;
}
.help_card_content_toggles_bottom_text{
    position: relative;
    padding-left: 8px;
    margin-bottom: 48px;
}
.help_card_content_toggles_bottom_text::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 4px;
    height: 4px;
    background-color: #456080; 
    border-radius: 50%;
} 

/* Help */

/* Tracking */

.tracking{
    margin-bottom: 80px;
}


.tracking_content{
    background: #FBFBFB;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 80px 0;
    position: relative;
    transition: .5s;
}
.tracking_content_top{
    margin-bottom: 32px;
}
.tracking_content_text{
    position: relative;
    padding: 16px 24px;
    background-color: #E6EBF180;
    border-radius: 4px;
    margin-bottom: 32px;
}

/* Tracking */

/* Contacts */

.contact{
    margin-bottom: 266px;
}

.contact_card{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background:url('src/assets/img/contact_bg.svg') 0 0/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 80px 0;
    padding-right: 126px;
}
.contact_card_links{
    background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.4) 11.72%, rgba(255, 255, 255, 0.1) 89.81%);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 0px 4px 4px 0px;
    max-width: 503px;
    padding: 60px 51px 60px 140px;
}
.contact_card_links_block{
    display: flex;
    margin: 24px 0;
    align-items: center;
    max-width: 291px;
    color: #090C10;
    justify-content: flex-start;
}
.contact_card_links_block_text a{
    color: #090C10;
}
.contact_card_links_block_img{
    margin-right: 16px;
}
.contact_card_links_block_img:nth-last-child(1){
    margin-right: 5px;
}
.contact_card_links_block_img{
    width: 36px;
    display: flex;
    justify-content: center;
}
.contact_card_links_block_button{
    padding: 9px 0;
    background: rgba(102, 135, 173, 0.16);
    border-radius: 3.6px;
    color: #456080;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s;
}
.contact_card_links_block_button:hover{
    background: rgba(102, 135, 173, 0.16);
}
.contact_card_links_block_button:active{
    background: rgba(102, 135, 173, 0.26);
}

/* Contacts */


/* Story */

.story{
    margin-bottom: 80px;
}

.story_card{
    background: #FBFBFB;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 80px 0;
    position: relative;
    transition: .5s;
}
.story_card_title{
    text-align: center;
    margin-bottom: 32px;
}
.story_card_content{
    height: 300px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 4px;
    margin-bottom: 24px;
    display: none;
}
.story_card_text{
    margin-bottom: 15px;
}
.story_card_text ul li{
    position: relative;
    padding-left: 8px;
    margin: 15px 8px;
}
.story_card_text ul li::after{
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #456080; 
    border-radius: 50%;
}
.story_card_values{
    margin: 48px 0;
}
.story_card_values_title{
    text-align: center;
    margin-bottom: 20px;

}
.story_card_values_cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.story_card_values_cards_card{
    width: calc(100%/3 - 24px);
    margin: 12px;
    background: #EFF3F6;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 24px;
}
.story_card_values_cards_card_title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;

}
.story_card_values_cards_card_text{
    margin-bottom: 44px;
}
.story_card_values_cards_card_img{
    display: flex;
    justify-content: center;
    max-width: 116px;
    margin: 0 auto;
}
.story_card_values_cards_card_img img{
    display: none;
}
.story_card_manifesto_title{
    text-align: center;
    margin-bottom: 32px;
}
.story_card_manifesto_card{
    padding: 64px 0px 109px 0;
    background: #FFF;
    border-radius: 4px;
}
.story_card_manifesto_card{
    height: 815px;
    display: flex;
    justify-content: center;
}
.story_card_manifesto_card_contaniner{
    position: relative;
    width: 0;
}
.story_card button{
    display: none;
}
.story_card_manifesto_card_contaniner svg:nth-child(2){
    display: none;
}
.story_card_manifesto_card_contaniner_block_title{
    font-weight: 700;
    font-size: 14px;
    color: #456080;
}
.story_card_manifesto_card_contaniner_block_text{
    color: #A1A3A6;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}
.story_card_manifesto_card_contaniner_block{
    width: 253px;
    position: absolute;
    top: 0;
    left: -224px;
    text-align: center;
    transition: .5s;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block_fs{
    width: 248px;
    position: absolute;
    top: 0;
    text-align: center;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(1){
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_sc{
    top: 87px;
    left: auto;
    right: -224px;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(2){
    opacity: 1;
    right: 24px;
}
.story_card_manifesto_card_contanier_wrapper_block_th{
    top: 174px;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(3){
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_fr{
    top: 267px;
    left: auto;
    right: -224px;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(4){
    opacity: 1;
    right: 24px;
}
.story_card_manifesto_card_contanier_wrapper_block_fv{
    top: 355px;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(5){
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_sx{
    top: 449px;
    left: auto;
    right: -224px;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(6){
    opacity: 1;
    right: 24px;
}
.story_card_manifesto_card_contanier_wrapper_block_sv{
    top: 538px;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(7){
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_eg{
    top: 624px;
    left: auto;
    right: -224px;
}
.story_card_manifesto_card_contanier_wrapper_block--active:nth-child(8){
    opacity: 1;
    right: 24px;
}
.story_card button{
    position: absolute;
    bottom: 28px;
    left: 24px;
    right: 24px;
    width: auto;
    margin: 0 auto;
    
}
.rotateImg{
    transform: rotate(180deg);
}

/* Story */



