.fade-in {
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fade-in_visible {
    opacity: 1; 
}
.content_wrepper {
    max-width: 820px; 
    margin: 0 auto; 
}
.stepper{
    display: none;
}
.wrapper_arrage{
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 8px 16px; 
    position: relative;
}
.tailored .wrapper{
    display: flex;
}
.tailored{
    padding-top: 86px;
    
}
.img{
    position: absolute;
    right: 0;
    transition: .5s;
}
.tailored .img:nth-child(2){
    opacity: 0;
}
.tailored .img:nth-child(3){
    opacity: 0;
}
.tailored .img:nth-child(4){
    opacity: 0;
}
.tailored_content{
    max-width: 473px;
    padding-top: 83px;
}
.tailored_content_text_title{
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 21px;
}
.tailored_content_text_parag{
    line-height: 20px;
    margin-bottom: 48px;
}

.arrage{
    margin-top:120px ;
    margin-bottom: 120px;
}
.arrage_title{
    font-weight: 500;

}
.title_all_block{
    position: relative;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 2px solid #3C5470;
}
.arrage_cards_card{
    margin: 120px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}
.arrage_cards_card img{
    display: none;
}
.arrage_cards_card_button{
    display: none;
}
.arrage_cards_card_text{
    max-width: 534px;
    background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.4) 11.72%, rgba(255, 255, 255, 0.1) 89.81%);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    left: -170%;
    transition: .5s;
}
.arrage_cards_card_text:nth-child(1){
    padding: 42px 58px 14px 59px;
}
.arrage_cards_card_sc .arrage_cards_card_text .arrage_cards_card_textarrage_cards_card_text_title_par:nth-child(3){
    margin-bottom: 0;
}
.arrage_cards_card_th .arrage_cards_card_text_title_par:nth-child(3){
    margin-bottom: 0;
}   
.arrage_cards_card_sc .arrage_cards_card_text{
    padding: 21px 40px 17px 53px;
}
.arrage_cards_card_th .arrage_cards_card_text{
    padding: 19px 24px 18px 74px;
}
.arrage_cards_card{
    min-height: 502px;
}
.wrapper_arrage_cards_card_text_ul_li{
    display: flex;
    justify-content: space-between;

}
.wrapper_arrage_cards_card_text_ul_li li{
    position: relative;
    padding-left: 10px;
}
.wrapper_arrage_cards_card_text_ul_li li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 4px;
    height: 4px;
    background-color: #456080;
    border-radius: 50%;
}
.arrage_cards_card_text_title{
    margin-bottom: 13px;
}
.arrage_cards_card_text_title_par{
    margin-bottom: 15px;
}
.arrage_cards_card_img{
    max-width: 521px;
}
.arrage_cards_card_img img{
    width: 100%;
    
}
.curcile{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
}
.mobile_curcile{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
}
.mobile_dark_curcile{
    background-color: #6A6D70;
    border-radius: 50%;
    position: absolute;
}
.dark_curcile{
    background-color: #6A6D70;
    border-radius: 50%;
    position: absolute;
}
.pulse{
    animation: pulse .8s ease-in-out infinite;
}
.dark_pulse{
    animation: darkPulse .8s ease-in-out infinite;
}

@keyframes darkPulse {
    0% {
        box-shadow: 0 0 5px 2px #6A6D70;
      }
      50% {
        box-shadow: 0 0 10px 10px #6A6D70;
      }
      100% {
        box-shadow: 0 0 5px 2px #6A6D70;
      }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 2px white;
      }
      50% {
        box-shadow: 0 0 10px 10px white;
      }
      100% {
        box-shadow: 0 0 5px 2px white;
      }
}
.quotation{
    margin-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;
}
.quotation_block{
    position: relative;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 82px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    transition: .5s;
}
.quotation_block_progress{
    display: flex;
    align-items: center;
    align-self: center;
    width: 80%;
}
.quotation_block_progress_curcle{
    border-radius: 50%;
    border: solid 2px #D9DADC;
    width: 40px;
    height: 40px;
    position: relative;
    align-self:flex-end;
}
.quotation_block_progress_curcle img{
    display: none;
}
.quotation_block_progress_curcle_active{
    border:solid 2px #456080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotation_block_progress_curcle_active::after{
    content: '';
    border-radius:50% ;
    width: 16px;
    height: 16px;
    background: #456080;
}
.quotation_block_progress_line{
    width: 104.5px;
    height: 2px;
    background: #D9DADC;
}
.quotation_block_progress_line_active{
    background: #456080;
}
.quotation_block_progress_wrapp{
    position: relative;
}
.quotation_block_progress_curcle_text{
    position: absolute;
    top:42px;
    left: -50px;
    width: 154px;
    font-size: 22px;
    text-align: center;
    color: #C7C8CA;
}
.quotation_block_progress_curcle_text_active{
    color: #1A2430;
}
.quotation_block_forms{
    margin-top: 107px;
}

.quotation_block_progress-done_sender .quotation_block_progress_line-specifications{
    background: #456080;
}
.quotation_block_progress-done_sender .quotation_block_progress_curcle-sender{
    border: none;
    background: #456080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotation_block_progress-done_sender .quotation_block_progress_curcle-sender img{
    display: block;
}


.quotation_block_progress-done_specifications .quotation_block_progress_line-specifications{
    background: #456080;
}
.quotation_block_progress-done_specifications .quotation_block_progress_curcle-specifications{
    border: none;
    background: #456080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotation_block_progress-done_specifications .quotation_block_progress_curcle-specifications img{
    display: block;
}

.quotation_block_progress-done_specifications .quotation_block_progress_line-date{
    background: #456080;
}



.quotation_block_progress-done_date .quotation_block_progress_line-receiver{
    background: #456080;
}

.quotation_block_progress-done_date .quotation_block_progress_curcle-date{
    border: none;
    background: #456080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotation_block_progress-done_date .quotation_block_progress_curcle-date img{
    display: block;
}
.quotation_block_progress-done_receiver .quotation_block_progress_curcle-receiver img{
    display: block;
}
.quotation_block_progress-done_receiver .quotation_block_progress_curcle-receiver{
    border: none;
    background: #456080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotation_block_progress-done_receiver .quotation_block_progress_line-symmary{
    background: #456080;
}
.quotation_block_progress-done_receiver .quotation_block_progress_curcle_text{
    color: #1A2430;
}

.custom_button{
    position: absolute;
    left: -35px;
    top: 238px;
    cursor: pointer;
    margin: auto 0;
    padding: 13px 17px;
    border-radius: 50%;
    transition: .5s;
}
.custom_button:hover{
    background: rgba(102, 135, 173, 0.16);
}
.custom_button:active{
    background: rgba(102, 135, 173, 0.26);
}
.custom-next{
    left: auto;
    right: -35px;
}
/* Services */
.services_cards_card_content_title{
    text-align: center;
    margin-bottom: 8px;
}
.services_cards_card{
    margin: 48px 0;
    padding: 64px 0;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.services_cards_card:nth-child(1){
    background: url('src/assets/img/services_bg_fs.svg') 100%;
    /* transition: .5s; */
}
.services_cards_card:nth-child(2){
    background: url('src/assets/img/services_bg_sc.svg') 100% ;
    /* transition: .5s; */
}
.services_cards_card:nth-child(3){
    background: url('src/assets/img/services_bg_th.svg') 100% ;
    /* transition: .5s; */
}
.services_cards_card_content{
    background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.55) 11.72%, rgba(255, 255, 255, 0.21) 89.81%);
    backdrop-filter: blur(20px);
    padding: 36px 0;
    width: 100%;
    transition: .5s;
}
.services_cards_card_content_title{
    margin-bottom: 24px;
}
.services_cards_card_content_texts{
    margin-bottom: 24px;
}
.services_cards_card_content_texts_text{
    margin-bottom: 15px;
}
.services_cards_card_content_texts_text_description{
    padding: 24px;
    background: rgba(230, 235, 241, 0.5);
    border-radius: 4px;
}
.services_cards_card_content_texts_tabled{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.services_cards_card_content_texts_tabled table{
    width: calc(99%/4);
}
.services_cards_card_content_texts_tabled tr{
    display: flex;
    flex-direction: column;
}
.services_cards_card_content_texts_tabled tr td{
    background: #FBFBFB;
    margin: 3px 0;
    color: #456080;
    padding: 11px 0 11px 16px;
    border-radius: 3.2px;  
}
.services_cards_card_content_texts_tabled tr th{
    background: #537399;
    border-radius: 4px; 
    margin: 3px 0;
    color: #FBFBFB;
    padding: 11px 0 11px 16px;
    text-align: start;
    transition: .5s;
}
.services_cards_card_content_button{
    display: flex;
}

/* Services */

/* Help */

.help{
    margin-bottom: 120px;
}
.help_card{
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 80px 0;
    position: relative;
    transition: .5s;
}
.help_card_content_toggles_toggle_questions{
    display: flex;
    justify-content: space-between;
    padding: 22px 24px;
    background: #537399;
    border-radius: 4px ;
    transition: .5s;
}
.help_card_content_toggles_toggle_questions_text{
    font-weight: 700;
    color: #FBFBFB;
}
.help_card_content_toggles_toggle_questions_img{
    display: flex;
    align-items: center;
}
.help_card_content_toggles_toggle .help_card_content_toggles_toggle_questions_img img{
    transition: .5s;
}
.help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_questions_img img{
    transform: rotate(180deg);
}
.help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_questions{
    border-radius: 4px 4px 0px 0px;
}
.help_card_content_toggles_toggle_text{
    background: #EFF3F6;
    border-radius: 0px 0px 4px 4px;
    max-height: 0;
    opacity: 0;
    transition: .5s ;
    padding: 0 24px;
}
.help_card_content_toggles_toggle_wrapper{
    cursor: pointer;
    position: relative;
    z-index: 9999;
    
}
.help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_text{
    max-height: 500px;
    opacity: 1;
    transition: .5s;
    padding: 24px; 
}
.help_card_content_toggles_toggle{
    margin: 24px 0;
}
.help_card_content_toggles_title{
    text-align: center;
}
.help_card_content_toggles_bottom_text{
    position: relative;
    padding-left: 8px;
    margin-bottom: 48px;
}
.help_card_content_toggles_bottom_text::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 4px;
    height: 4px;
    background-color: #456080; 
    border-radius: 50%;
} 

/* Help */

/* Tracking */

.tracking{
    margin-bottom: 120px;
}


.tracking_content{
    background: #FBFBFB;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 80px 0;
    position: relative;
    transition: .5s;
}
.tracking_content_text{
    margin-top: 32px;
    position: relative;
    padding-left: 8px;
}
.tracking_content_text::before{
    content: '';
    position: absolute;
    left: 0;
    top:8px;
    margin: auto 0;
    width: 4px;
    height: 4px;
    background-color: #456080; 
    border-radius: 50%;
    shape-outside: circle();
}

/* Tracking */

/* Contacts */

.contact{
    margin-bottom: 120px;
}

.contact_card{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background:url('src/assets/img/contact_bg.svg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 80px 0;
    padding-right: 126px;
}
.contact_card_links{
    background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.4) 11.72%, rgba(255, 255, 255, 0.1) 89.81%);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 0px 4px 4px 0px;
    max-width: 503px;
    padding: 60px 51px 60px 140px;
}
.contact_card_links_block{
    display: flex;
    margin: 24px 0;
    align-items: center;
    max-width: 291px;
    color: #090C10;
    justify-content: flex-start;
}
.contact_card_links_block_text a{
    color: #090C10;
}
.contact_card_links_block_img{
    margin-right: 16px;
}
.contact_card_links_block_img:nth-last-child(1){
    margin-right: 5px;
}
.contact_card_links_block_img{
    width: 36px;
    display: flex;
    justify-content: center;
}
.contact_card_links_block_button{
    padding: 13px 0;
    background: rgba(102, 135, 173, 0.16);
    border-radius: 3.6px;
    color: #456080;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Contacts */


/* Story */

.story{
    margin-bottom: 120px;
}

.story_card{
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 80px 0;
    position: relative;
    transition: .5s;
}
.story_card_title{
    text-align: center;
    margin-bottom: 48px;
}
.story_card_content{
    height: 300px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 4px;
    margin-bottom: 24px;
}
.story_card_text{
    margin-bottom: 15px;
}
.story_card_text ul li{
    position: relative;
    padding-left: 8px;
    margin: 15px 8px;
}
.story_card_text ul li::after{
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #456080; 
    border-radius: 50%;
}
.story_card_values{
    margin-top: 28px;
    margin-bottom: 28px;
}
.story_card_values_title{
    text-align: center;
    margin-bottom: 8px;

}
.story_card_values_cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.story_card_values_cards_card{
    width: calc(100%/3 - 24px);
    margin: 12px;
    background: #EFF3F6;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 24px;
}
.story_card_values_cards_card_title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;

}
.story_card_values_cards_card_text{
    margin-bottom: 44px;
}
.story_card_values_cards_card_img{
    display: flex;
    justify-content: center;
}
.story_card_manifesto_title{
    text-align: center;
    margin-bottom: 32px;
}
.story_card_manifesto_card{
    background: #EFF3F6;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 64px 0px 109px 0;
}
.story_card_manifesto_card{
    height: 815px;
    display: flex;
    justify-content: center;
}
.story_card_manifesto_card_contaniner{
    position: relative;
    width: 0;
}
.story_card_manifesto_card_contaniner svg:nth-child(2){
    display: none;
}
.story_card_manifesto_card_contaniner_block_title{
    font-weight: 700;
    font-size: 14px;
    color: #456080;
}
.story_card_manifesto_card_contaniner_block_text{
    color: #A1A3A6;
}
.story_card_manifesto_card_contaniner_block{
    width: 248px;
    position: absolute;
    top: 0;
    left: -224px;
    text-align: center;
    transition: .5s;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block_fs{
    width: 248px;
    position: absolute;
    top: 0;
    text-align: center;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block_fs--active{
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_sc{
    top: 87px;
    left: auto;
    right: -224px;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block_sc--active{
    opacity: 1;
    right: 24px;
}
.story_card_manifesto_card_contanier_wrapper_block_th{
    top: 174px;
}
.story_card_manifesto_card_contanier_wrapper_block_th--active{
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_fr{
    top: 267px;
    left: auto;
    right: -224px;
    opacity: 0;
}
.story_card_manifesto_card_contanier_wrapper_block_fr--active{
    opacity: 1;
    right: 24px;
}
.story_card_manifesto_card_contanier_wrapper_block_fv{
    top: 355px;
}
.story_card_manifesto_card_contanier_wrapper_block_fv--active{
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_sx{
    top: 449px;
    left: auto;
    right: -224px;
}
.story_card_manifesto_card_contanier_wrapper_block_sx--active{
    opacity: 1;
    right: 24px;
}
.story_card_manifesto_card_contanier_wrapper_block_sv{
    top: 538px;
}
.story_card_manifesto_card_contanier_wrapper_block_sv--active{
    left: 24px;
    opacity: 1;
}
.story_card_manifesto_card_contanier_wrapper_block_eg{
    top: 624px;
    left: auto;
    right: -224px;
}
.story_card_manifesto_card_contanier_wrapper_block_eg--active{
    opacity: 1;
    right: 24px;
}

/* Story */

/* Steppet */

.stepper{
    display: none;
    justify-content: space-between;
    margin-bottom: 59px;
}
.stepper_swg_text_all{
    font-size: 20px;
    line-height: 24px;
}
.stepper_swg{
    position: relative;
}
.stepper_swg_text_all{
    position: absolute;
    left: 8px;
    top: 14px;
    display: flex;
}
.stepper_swg_text_all_light{
    color: #D9DADC;
}

/* Steppet */

