@media(max-width: 1285px){
    .img svg{
        -webkit-width: 608px;
        width: 608px;
    }
}
@media(max-width: 1230px){
    .custom_button{
        left: -12px;
        right: auto;
    }
    .custom-next{
        right: -12px;
        left: auto;
    }
}
@media(max-width:1136px){
    .contact_card{
        padding-right: 51px;
    }
    .contact_card_links{
        padding-left: 110px;
    }
    .story_card{
        padding: 80px 0;
    }
}
@media(max-width:1075px) {
    .wrapper_arrage{
        max-width: 863px; 
    }
    .arrage_cards_card_text:nth-child(1){
        padding: 23px 12px 23px 25px;
    }
    .arrage_cards_card_sc .arrage_cards_card_text{
        padding: 23px 40px 17px 18px;
    }
    .arrage_cards_card_th .arrage_cards_card_text{
        padding: 19px 24px 18px 19px;
    }
    .arrage .text_title{
        font-size: 28px;
    }
    
}
@media (max-width: 1036px){
    .tailored_content{
        max-width: 346px;
    }
    .tailored_content_text_title{
        line-height: 31px;
    }
    .arrage_cards_card{
        padding: 32px 34px;
    }
    .quotation_block_progress{
        max-width: 651px; 
    }
    .contact_card{
        padding-right: 52px;
    }
    .contact_card_links{
        padding: 31px 52px 31px 52px;
    }
}
@media (max-width: 1000px){
    .story_card{
        padding: 80px 80px;
    }
    .cookies_info_texts_odd{
        margin-right: 86px;
    }
    .cookies_info_texts_even{
        margin-left: 86px;
    }
    .privacy_text_block_text--desctop{
        display: none;
    }
    .privacy_text_block_text--mobile{
        display: block;
    }
}
@media(max-width:992px){
    .img{
        top: 138px;
    }
    .tailored_content{
        max-width: 271px;
    }
    .arrage{
        margin-top: 114px;
    }
    .burger{
        display: block;
    }
    .content_nav{
        display: none;
    }
    .content_rightnav{
        display: none;
    }
    .dispaly_flex{
        display: flex;
    }
    .content_rightnav_mobile{
        display: block;
        margin: -16px 0;
    }
    .mobile{
        display: block;
    }
    .all_select .span_get{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 939px) {

    .services_cards_card_content_texts_tabled::-webkit-scrollbar {
        height: 4px;
    }
      
    .services_cards_card_content_texts_tabled::-webkit-scrollbar-track {
        background: #FFFFFF;
        border-radius: 4px;
    }
      
    .services_cards_card_content_texts_tabled::-webkit-scrollbar-thumb {
        background: #456080;
        border-radius: 4px;
    }  
    .summary_sender_info{
        width: 100%;
    }
    .content_wrepper {
        padding: 0 24px; 
        margin: auto 0;
    }
    .quotation_block_forms{
        margin-top: 107px;
    }
    .content_nav ul li{
        margin: 0 6px;
    }
    .content_nav{
        margin-right: 9px;
    }
    .quotation_block_progress_curcle_text{
        font-size:17px ;
        /* top: 34px */
    }
    .wrapper_arrage{
        max-width: 763px; 
    }
    .arrage_cards_card_text:nth-child(1){
        padding: 13px 24px;
    }
    .arrage_cards_card_sc .arrage_cards_card_text{
        padding: 13px 24px;
    }
    .arrage_cards_card_th .arrage_cards_card_text{
        padding: 13px 24px;
    }
    .arrage .text_title{
        font-size: 22px;
        line-height: 28px;
    }
    .services_cards_card_content{
        padding: 36px 0;
    }
    .help_card_content_toggles_title{
        font-size: 24px;
    }
    .help_card_content_toggles_toggle_text{
        padding: 0 10px;
    }
    .help_card_content_toggles_toggle--active .help_card_content_toggles_toggle_text{
        padding: 10px;
    }
    .tracking_content{
        padding: 48px 0;
    }
    .contact{
        margin-bottom: 79px;
    }
    .contact_card{
        height: auto;
        padding: 64px 0;
        flex-direction: column;
    }
    .form_contact{
        background: none;
    }
    .contact_card_links{
        box-shadow: none;
        padding: 24px;
        margin-bottom: 25px;
        background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.55) 11.72%, rgba(255, 255, 255, 0.21) 89.81%);
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(20px);
        width: 100%;
        max-width: none;
    }
    .contact_card_links_block{
        max-width: none;
    }
    .form_contact{
        max-width: none;
    }
    .story_card{
        padding: 80px 0;
    }
    .top_params_left{
        flex-wrap: wrap;
        
    }
    .specification_custom_block--as{
        width: calc(100%/2 - 12px) !important;
        margin: 0 0 24px 0;
    }
    .top_params{
        flex-direction: column;
    }
    .spec{
        width: 100%;
    }
    .top_params_right{
        width: 100%;
    }
    .top_params_right_buttons{
        width: 100%;
    }
    .top_params_right_buttons button{
        max-width: none;
        margin: 0;
    }
    .help_card{
        padding: 40px 0;
    }
}
@media (max-width: 887px){
    .services_cards_card_content_texts_tabled{
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .services_cards_card_content_texts_tabled table{
        min-width: 203px;
    }
}
@media (max-width: 839px) {
    .wrapper_arrage{
        max-width: 693px; 
    }
    .arrage_cards_card img{
        display: block;
        max-width: 340px;
        margin-bottom: 24px;
    }
    .arrage_cards_card{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin: 0 15px;
    }
    .arrage_cards_card_fs{
        padding: 24px 0; 
        background: url('src/assets/img/bg_service_fs.svg') 0 0/auto auto;
    }
    .arrage_cards_card_sc{
        padding: 24px 0; 
        background: url('src/assets/img/bg_service_sc.svg') 0 0/auto auto;
    }
    .arrage_cards_card_th{
        padding: 24px 0; 
        background: url('src/assets/img/bg_service_th.svg') 0 0/auto auto;
    }
    
    .arrage_cards_card_text{
        background: linear-gradient(124.98deg, rgba(255, 255, 255, 0.4) 11.72%, rgba(255, 255, 255, 0.1) 89.81%);
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(20px);
        position:unset;
        max-width: none;
        width: 100%;
        height: 100%;
        opacity: 1;
        border-radius: 0px;
    }
    .arrage_cards_card_button img{
        max-width: 13px;
        margin-left:11px ;
        margin-bottom: 0;
    }
    .arrage_cards_card_button{
        display: flex;
        max-height: 48px;
        margin-top: 24px;
        max-width: 100% ;
        justify-content: center;
        align-items: center;
    }
    .arrage_cards_card--active .arrage_cards_card_text_contener {
        max-height: 505px; 
        display: block;
        -webkit-box-orient: horizontal; 
        -webkit-line-clamp: initial; 
    }
    .arrage_cards_card_text_contener{
        max-height: 100px;
        overflow: hidden;
        transition: .5s;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .arrage_cards_card_text:nth-child(1){
        padding: 48px 24px;
    }
    .arrage_cards_card_sc .arrage_cards_card_text{
        padding: 48px 24px;
    }
    .arrage_cards_card_th .arrage_cards_card_text{
        padding: 48px 24px;
    }
    .owl-dots {
        margin-top: 16px;
    }
    .custom-navigation{
        display: none;
    }
    .img{
        width: 100%;
    }
    .tailored_content{
        padding-top: 319px;
        max-width: 557px;
    }
    .tailored .img:nth-child(1){
        display: none;
    }
    .tailored .img:nth-child(2){
        display: block;
    }
    .img svg{
        margin-top: -50px;
        -webkit-width: 100%;
        width: 100%;
        -webkit-height: 426px;
        height: 426px;
    }
    .quotation_block{
        padding: 73px 0;
    }
    .services_cards_card_content{
        padding: 36px 0;
    }
    .summary_info-all{
        flex-direction: column;
    }
    .summary_info-all .summary_info_input-all{
        width: 100%;
    }
    .story_card{
        padding: 80px 0;
    }
    .footer_top ul a{
        padding: 0 6px;
    }
    .story_card_values_cards_card{
        width: calc(100%/2 - 24px);
    }
    ng-lottie{
        display: none;
    }
    .story_card_values_cards_card_img img{
        display: block;
    }
    .cookies_page{
        padding-top: 118px;
    }
    .cookies_info{
        flex-direction: column;
    }
    .cookies_info_even{
        flex-direction: column-reverse;
    }
    .cookies_info_img_all{
        align-self: flex-end;
        margin-top: 36px;
    }
    .cookies_info img{
        width: 145px;
    }
    .cookies_info_texts{
        margin: 0;
    }
    .privacy{
        padding-top: 118px; 
    }
    .privacy_text_block_top{
        flex-direction: column-reverse;
    }
    .privacy_img{
        align-self: center;
        max-width: 184px;
        max-height: 271px;
        margin-bottom: 36px;
        margin-left: 0;
    }
    .arrage_cards_card .arrage_cards_card_dark_img{
        display: none;
    }
    .arrage_cards_card_text_title{
        margin-bottom: 24px;
    }
}
@media (max-width: 818px) {
   
}
@media (max-width: 751px){
    .top_params{
        flex-direction: column;
    }
    .services_cards_card{
        padding: 48px 0;
    }
}
@media (max-width: 727px) {
    .services_cards_card_content_texts_tabled_contanier{
        position: relative;
    }
    .services_cards_card_content_texts_tabled_shadow{
        position: absolute;
        right: -1px;
        top: 3px;
        bottom: 0;
        background: linear-gradient(270deg, #EFF3F6 0%, rgba(239, 243, 246, 0.00) 100%);
        width: 57px;
        height: 90%;
        /* border-radius: 3.6px; */
        opacity: 0;
        transition: .5s;
    }
    .services_cards_card_content_texts_tabled_shadow_end{
        position: absolute;
        top: 3px;
        bottom: 0;
        background: linear-gradient(270deg, #EFF3F6 0%, rgba(239, 243, 246, 0.00) 100%);
        width: 57px;
        height: 90%;
        /* border-radius: 3.6px; */
        left: -2px;
        transform: scaleX(-1);
        opacity: 0;
        transition: .5s;
    }
    .active_shadow{
        opacity: 1;
    }
    
}
@media (max-width: 701px){
    .county_container{
        top: 82px;
    }
    .all_botom_select_options_codes_container{
        top: 51px;
    }
    .all_botom_select_options--focuse{
        top:auto;
        bottom: 50px;
        width: auto;
        right: 0;
    }
    .img_inpu_country{
        top: 51px;
    }
    .img_inpu_country--focus{
        top: 43px;
    }
    .all_top_block_inp{
        height: 48px;
        padding: 17px;
    }
    .all_botom_select{
        padding: 13px 8px;
        max-height: 48px;
    }
    .img svg{
        margin-top: -98px;
        -webkit-height: 426px;
        height: 426px;
    }
    .tailored_content{
        padding-top: 248px;
        max-width: 557px;
    }
    .title_all{
        font-size: 28px;
        line-height: 34px;
    }
    .all_top_block{
        width: 100%;
    }
    .sender_botom_block{
        width: 100%;
    }
    .quotation_block_forms{
        margin-top: 48px;
    }
    .quotation_block_progress{
        display: none;
    }
    .stepper{
        display: flex;
        padding: 24px;
        border-radius: 4px;
        background: rgba(230, 235, 241, 0.50);
    }
    .variable{
        width: 100%;
    }
    .variables_top{
        flex-direction: column;
    }
    .variables_top_variable{
        width: 100%;
    }
    .variables_top_variable:nth-child(1){
        margin-bottom: 24px;
    }
    .mb-24{
        margin-bottom: 24px;
    }

    .variable{
        margin-bottom: 24px;
    }
    .container{
        display: none;
    }
    .help_form_wrapp{
        flex-direction: column;
    }
    .help_form_wrapp_block{
        width: 100%;
    }
    .quotation_block{
        padding: 0;
        padding-bottom: 48px;
    }
    .footer_top ul{
        flex-direction: column;
        align-items: center;
    }
    .footer_top_container{
        border: none;
    
    }
    .footer_top ul li{
        margin: 18px 0;
    }
    .story_card_manifesto_card_contaniner_block{
        width: 237px;
        position: absolute;
        top: 0;
        left: 3px;
        text-align: center;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(2){
        top: 87px;
        left: auto;
        right: 3px;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(3){
        top: 174px;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(4){
        top: 267px;
        left: auto;
        right: 3px;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(5){
        top: 355px;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(6){
        top: 449px;
        left: auto;
        right: 3px;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(7){
        top: 538px;
    }
    .story_card_manifesto_card_contaniner_block:nth-child(8){
        top: 624px;
        left: auto;
        right: 3px;
    }
    .button_submit_next_step{
        margin-top: 12px;
    }
}

/* START MOBILE */
/* START MOBILE */
/* START MOBILE */
@media(max-width: 638px){
    /* .img{
        top: 97px;
    } */
    button{
        height: 48px;
    }
    .contact_card_links_block_button{
        padding: 13px 0;
    }
    .mobile_content_nav ul{
        margin-bottom: 48px;
    }
    .wrapper_arrage_cards_card_text_ul_li{
        flex-direction: column;
    }
    .wrapper_arrage_cards_card_text_ul_li ul:nth-child(1){
        margin-bottom: -2px;
    }
    .logo svg{
        width: 136px;
        height: 28px;
    }
    .tailored{
        padding-top: 136px;
    }
    .tailored_content_text_parag{
        line-height: 22px;
        margin-bottom: 40px;
    }

    footer{
        padding: 24px 0;
    }
    .footer_top{
        padding-bottom: 24px;
    }
    .footer_bottom_text{
        margin: 24px 0;
    }
    .title_all{
        margin-bottom: 40px;
    }
    .title_all_block{
        padding-bottom: 16px;
    }
    .services_cards_card_content{
        padding: 24px 0;
    }
    .services_cards_card_content_title{
        margin-bottom: 24px;
    }
    .services_cards_card_content_texts{
        margin-bottom: 36px;
    }
    .services_cards_card_content_texts_text_description{
        padding: 16px;
    }
    .stepper{
        margin-bottom: 36px;
    }
    .sender_text_top{
        margin-bottom: 36px;
    }
    .help_card_content_toggles_toggle_questions{
        padding: 16px;
    }
    .img svg{
        margin-top: -50px;
        -webkit-height: 229px;
        height: 229px;
    }
    .tailored_content{
        padding-top: 181px;
        max-width: 557px;
    }
    button{
        max-width: none;
        width: 100%;
    }
    .tracking_block_conteiner{
        flex-direction: column;
    }
    .tracking_block_conteiner button{
        margin-left: 0;
        margin-top: 24px;

    }
    .contact_card{
        padding: 32px 0;
    }
    .contact_card_links{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
    }
    .cookies{
        left: 1224px;
        bottom: 0;
        max-width: none;
        border-radius: 12px 12px 0px 0px;
    }
    .cookies_active{
        left: 0;
        right: 0;
    }
    .story_card{
        padding: 48px 0;
        display: block;
    }
    .story_card--active{
        max-height: 289px;
        overflow: hidden;
    }
    .story_card_text--active{
        /* max-height: 90px; */
        overflow-y: hidden;
        margin-bottom: 180px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
    }
    .story_card button{
        display: flex;
    }
    .summary_blocks-all{
        position: relative;
        
    }
    .text_block_summary{
        position: relative;
        z-index: 99;
    }
    .mobile_summary{
        position: absolute;
        top: 0;
        opacity: 0;
        transition: .5s;
        z-index: 0;
    }
    .text_block_summary_img{
        display: block;
    }
    .block_summary--active svg{
        transform: rotate(-180deg);
    }
    .block_summary--active .mobile_summary{
        position: relative;
        opacity: 1;
    }
    .text_block_summary{
        cursor: pointer;
    }
    .stepper_swg_text_all{
        font-size: 19px;
    }
    .help_card{
        padding: 24px 0;
    }
    .form_contact{
        background: none;
    }
    .text_title{
        font-size: 22px;
        line-height: 28px;
    }
    .tailored_content_text_title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    .arrage{
        margin-top: 75px;
        margin-bottom: 64px;
    }
    .services{
        margin-bottom: 64px;
    }
    .quotation{
        margin-bottom: 64px;
    }
    .tracking{
        margin-bottom: 64px;
    }
    .story{
        margin-bottom: 64px;
    }
    .help{
        margin-bottom: 64px;
    }
    .contact{
        margin-bottom: 71px;
    }
    .arrage_title{
        margin-bottom: 40px;
    }
    .tracking_content_top{
        margin-bottom: 24px;
    }
    .tracking_content_text{
        margin-bottom: 24px;
        padding: 16px;
    }
    .form_contact_text{
        padding: 16px;
    }
    .story_card_title{
        display: none;
    }
    .story_card_values_title{
        display: none;
    }
    .story_card_values_title--modile{
        display: block;
        text-align: center;
    }
    .title_for_story{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
    }
    .story_card_values{
        margin: 28px 0;
    }
    .services_cards_card{
        margin: 40px 0;
    }
    .sender_text_top{
        padding: 16px;
    }
    .arrage_cards_card_text:nth-child(1){
        padding: 24px;
    }
    .arrage_cards_card_sc .arrage_cards_card_text{
        padding: 24px;
    }
    .arrage_cards_card_th .arrage_cards_card_text{
        padding: 24px;
    }
    .story_card_manifesto_card{
        padding: 0 0 109px
    }
    .cookies_wrapper{
        align-items: flex-end;
    }
    .cookies_setup_wrapper{
        align-items: flex-end;
    }
    .cookies_setup{
        border-radius: 4px 4px 0px 0px;
    }
    .cookies_bottom{
        flex-direction: column-reverse;
    }
    .cookies_bottom button{
        margin-right: 0;
    }
    .cookies_bottom button:nth-child(2){
        margin-bottom: 12px;
    }
}
@media(max-width: 562px){
    .quotation_block_progress_curcle_text{
        top: 17px;
        left: -59px;
        font-size: 14px;
    }
    .wrapper{
        padding: 0 20px;
    }
    .wrapper_arrage{
        padding: 0;
    }
    .story_card{
        padding: 40px 0;
    }
    .img svg{
        margin-top: -50px;
        -webkit-height: 213px;
        height: 213px;
    }
    .tailored_content{
        padding-top: 139px;
    }
    .story_card_values_cards_card{
        width: 100%;
    }
    .story_card_manifesto_card_contaniner{
        width: 100%;
        display: flex;
    }
    .story_card_manifesto_card{
        height: auto;
    }
    .story_card_manifesto_card_contaniner svg:nth-child(2){
        display: block;
        height: 878px;
    }
    .story_card_manifesto_card_contaniner svg:nth-child(1){
        display: none;
    }
    .story_card_manifesto_card_contaniner_wrapper_block{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        text-align: start;
        justify-content: space-between;
        margin-top: 50px;
        align-items: self-start;
        margin-left: 16px;

    }
    
    .story_card_manifesto_card_contaniner_block{
        width: auto;
        position:inherit;
        margin-bottom: 60px;
        text-align: start;
        opacity: 1;
    }
}
@media (max-width: 507px){
    button{
        margin-right: 6px;
        padding: 11px 11px;
    }
    .tailored button{
        margin-right: 0;
    }
    .sleceted{
        padding: 7px 10px;
    }
    .selected_item{
        margin-right: 3px;
    }
    .logo img{
        width: 144px;
    }
    .stepper_swg_text_all{
        font-size: 19px;
    }
}
@media (max-width: 502px){
    .logo img{
        width: 120px;
    }
    .burger{
        margin-left: 6px;
    }
    .wrapper-header{
        padding: 16px 20px;
    }
    button{
        padding: 14px 6px;
    }
    .sleceted{
        padding: 5px 7px;
    }
    .selected_item{
        margin-right: 0;
        
    }
    .quotation_block_progress_curcle_text{
        top: 17px;
        left: -59px;
        font-size: 10px;
    }
    .active_mobile{
        width: 194px;
    }
    .loading_we svg{
        width: 55px;
    }
    .loading_del svg{
        width: 66px;
    }
    .loading_iver svg{
        width: 84px;
    }
    .loading_line svg{
        max-height: 27px;
    }
    .loading_we{
        margin-right: 25px;
    }
    .stepper_swg_text_all{
        left: 9px;
    }
}
@media (max-width: 428px){
    .arrage_cards_card_img{
        max-width: 272px !important;
    }
    
}

@media (max-height: 756px){
    .mobile_content_nav li{
        padding: 9px 0;
        margin: 9px 0;
    }
}
@media (max-height: 687px){
    .mobile_content_nav li{
        padding: 5px 0;
        margin: 5px 0;
    }
    .mobile_content_nav ul{
        margin-bottom: 20px;
    }
}
@media (max-height: 573px){
    .mobile_content_nav li{
        padding: 4px 0;
        margin: 4px 0;
    }
    .mobile_content_nav ul{
        margin-bottom: 15px;
    }
}
@media (max-height: 507px){
    .mobile_content_nav li{
        padding: 2px 0;
        margin: 4px 0;
    }
}