@media(min-width: 1653px){
    .tailored_img .img svg{
        width: 1100px;
    }
}
@media(min-width: 2086px){
    .tailored_img .img svg{
        width: 1292px;
        height: 685px;
    }
    .arrage{
        margin-top: 417px;
    } 
   
}