@media(min-width: 1653px){
    .wrapper{
        max-width: 1373px;
    }
    .wrapper-header{
        max-width: 1373px;
    }
    .wrapper_arrage{
        max-width: 1185px;
    }
    .services_cards_card:nth-child(1){
        background: url('src/assets/img/services_bg_fs.svg');
    }
    .services_cards_card:nth-child(2){
        background: url('src/assets/img/services_bg_sc.svg');
    }
    .services_cards_card:nth-child(3){
        background: url('src/assets/img/services_bg_th.svg');
    }
    .arrage_cards_card{
        min-height: 564px;
    }
    .custom_button{
        top:280px;
    }
    .text{
        font-size: 16px;
        line-height: 22px;
    }
    .text_title{
        font-size: 31px;
        line-height: 44px
    }
    .tailored_img .img svg{
        width: 1100px;
    }
    .all_top_block_text-message{
        width: 243px !important;
    }
}
@media(min-width: 2086px){
    .wrapper{
        max-width: 1557px;
    }
    .wrapper-header{
        max-width: 1557px;
    }
    .wrapper_arrage{
        max-width: 1369px;
    }
    .content_wrepper{
        max-width: 1161px;
    }
    .arrage_cards_card{
        min-height: 660px;
    }
    .custom_button{
        top:325px;
    }
    .text{
        font-size: 23px !important;
        line-height: 31px !important;
    }
    .text_title{
        font-size: 63px;
        line-height: 71px;
    }
    .tailored_img .img svg{
        width: 1292px;
        height: 685px;
    }
    .arrage{
        margin-top: 336px;
    }
    .quotation_block_progress_curcle_text{
        font-size: 31px;
    }
    .tailored_content{
        max-width: 636px;
    }
    .arrage_cards_card_text{
        max-width: 910px;
    }
    .quotation_block_progress_curcle_text{
        font-size: 31px;
    }
    .story_card_manifesto_card_contaniner_block{
        width: 351px;
    }
    .contact_card_links{
        width: 100%;
        max-width: 720px;
    }
    .contact_card_links_block{
        max-width: none;
    }
    .form_contact{
        max-width: 687px;
    }
    .contact_card{
        padding-right: 50px;
    }
    .text_big{
        font-size: 63px;
    }
    .title_all_block{
        padding-bottom: 33px;
        border-bottom: 3px solid #3C5470;
    }
    .quotation_block_progress{
        justify-content: center;
    }
    .img_inpu_country{
        top: 56px;
        right: 15px;
        width: 18px;
    }
    .img_inpu_country img{
        width: 100%;
    }
    .all_botom_select{
        width: 110px;
    }
    .all_img_selected{
        width: 15px;
    }
    .all_img_selected img{
        width: 100%;
    }
    header .all_select .span_get{
        padding: 4px 18px;
    }
    .span_get_img{
        padding: 6px 9px;
    }
    .span_get_img svg {
        width: 55px;
        height: 31px;
    }
    .all_top_block_text_curcle{
        width: 8px;
        height: 8px;
    }
    .all_top_block_text-message{
        width: 243px;
        left: 26px;
        top: -23px;
    }
    .all_top_block_text-message::before{
        left: -9px;
        top: 17px;
        z-index: 0;
        width: 17px;
        height: 17px;
    }
    button{
        max-width: 270px;
    }
}