.summary_title-all{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}
.summary_info_input_value-all{
    padding: 8px 8px;
    background: #ECECED;
    border-radius: 3.6px;
    width: 100%;
}
.summary_sender_info{
    width: 820px;
}
.all_block_text{
    margin-top: 24px;
    margin-bottom: 8px;
}
.summary_info_input-all{
    width: calc(100%/2 - 12px);
    height: 25%;
}
.summary_info-all{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.summary_blocks-all{
    padding-bottom: 32px;
    border-bottom: 1px solid #D9DADC;
    margin-top: 40px;
    margin-bottom: 40px;
}
.summary_specification_params_block_quatity{
    width: calc(100%/4 - 12px);
}
.summary_sender{
    margin-top: 0;
}
.all_block_text{
    font-size: 14px;
    color: #6A6D70;
}
.text_block_summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_block_summary svg{
    transform: rotate(180deg);
    transition: .5s;
}
.text_block_summary_img{
    display: none;
}
