<form [formGroup]='reciverForm' autocomplete="off" (ngSubmit)="submitSender()">
    <div class="all_top">
        <div class="all_top_block">
            <label for="Company" class="all_top_block_text text text_gray" i18n>Company name<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text one">This field is required</div></div></label>
            <input [(ngModel)]="company" [ngClass]="{'input_error': getControl('Company').invalid && (getControl('Company').touched || getControl('Company').dirty)}" type="text" name="Company" class="all_top_block_inp text text_gray" formControlName="Company">
            <div *ngIf="getControl('Company').invalid && (getControl('Company').touched || getControl('Company').dirty)">
                <div class="text_error text text_gray" *ngIf="getControl('Company').errors?.['required']" i18n>
                  This field is required.
                </div>
            </div>
        </div>
        <div class="all_top_block counrty_block">
            <label for="Country" class="all_top_block_text text text_gray" i18n>Country<div class="all_top_block_text_curcle" ><div class="all_top_block_text-message text two">This field is required</div></div> </label>
            <div class="img_inpu_country"><img src="assets/img/input_simvol.svg" alt="" (click)="toggleFocuse()"></div>
            <input (keyup)="onKeay(valueCountry)" [(ngModel)]="valueCountry" type="text" (click)="addFocuse()" [(ngModel)]="valueCountry" autocomplete="off" name="Country" class="all_top_block_inp all_top_block_inp_country text text_gray"  formControlName="Country">
            <div class="county_container">
                <div id="country" class="country">
                    <div class="span_country" *ngFor="let country of countries">
                        <div class="text text_country" [ngClass]="{'text_country-selected' : valueCountry === country }" *ngIf="country !== 'Belarus' 
                        && country !== 'Cuba' 
                        && country !=='Iran' 
                        && country !=='Korea, North' 
                        && country !== 'Yemen' 
                        && country !== 'Russia'
                        && country !== 'Syria'
                        && country !== 'Somalia'
                        && country !== 'Sudan'
                        && country !== 'South Sudan'" 
                        (click)="slectValueClick(country)" (mouseenter)="slectValue(country)">{{country}}</div>
                        <div class="text text_country" [ngClass]="{'text_country-non-active' : country === 'Belarus' 
                        || country === 'Cuba' 
                        || country ==='Iran' 
                        || country ==='Korea, North' 
                        || country === 'Yemen' 
                        || country === 'Russia'
                        || country === 'Syria'
                        || country === 'Somalia'
                        || country === 'Sudan'
                        || country === 'South Sudan'}" 
                        *ngIf="country === 'Belarus' 
                        || country === 'Cuba' 
                        || country ==='Iran' 
                        || country ==='Korea, North' 
                        || country === 'Yemen' 
                        || country === 'Russia'
                        || country === 'Syria'
                        || country === 'Somalia'
                        || country === 'Sudan'
                        || country === 'South Sudan'">{{country}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all_top_block">
            <label for="City" class="all_top_block_text text text_gray" i18n>City<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text one">This field is required</div></div></label>
            <input [(ngModel)]="city" [ngClass]="{'input_error': getControl('City').invalid && (getControl('City').touched || getControl('City').dirty)}" type="text" name="City" class="all_top_block_inp text text_gray" formControlName="City">
            <div *ngIf="getControl('City').invalid && (getControl('City').touched || getControl('City').dirty)">
                <div class="text_error text text_gray" *ngIf="getControl('City').errors?.['required']" i18n>
                  This field is required.
                </div>
            </div>
        </div>
        <div class="all_top_block">
            <label for="Postal" class="all_top_block_text text text_gray" i18n>Postal code<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text one">This field is required</div></div></label>
            <input [(ngModel)]="postal" [ngClass]="{'input_error': getControl('Postal').invalid && (getControl('Postal').touched || getControl('Postal').dirty)}" type="text" name="Postal" class="all_top_block_inp text text_gray" formControlName="Postal">
            <div *ngIf="getControl('Postal').invalid && (getControl('Postal').touched || getControl('Postal').dirty)">
                <div class="text_error text text_gray" *ngIf="getControl('Postal').errors?.['required']" i18n>
                  This field is required.
                </div>
            </div>
            <div *ngIf="getControl('Postal').invalid && (getControl('Postal').touched || getControl('Postal').dirty)">
                <div class="text_error text text_gray" *ngIf="getControl('Postal').errors?.['pattern']">
                    Data is invalid.
                </div>
            </div>
        </div>
    </div>
    <label for="Street" class="all_top_block_text text text_gray" i18n>Street<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text one">This field is required</div></div></label>
    <input [(ngModel)]="street" [ngClass]="{'input_error': getControl('Street').invalid && (getControl('Street').touched || getControl('Street').dirty)}" type="text" name="Street" class="all_top_block_inp sender_top_block_inp_street receiver_top_block_inp_street text text_gray" formControlName="Street">
    <div *ngIf="getControl('Street').invalid && (getControl('Street').touched || getControl('Street').dirty)">
        <div class="text_error text mt-24" *ngIf="getControl('Street').errors?.['required']" i18n>
          This field is required.
        </div>
    </div>
    <div class="all_botom">
        <div class="all_top_block sender_botom_block">
            <label for="Contact" class="all_top_block_text text text_gray" i18n>Phone number</label>
            <div class="phone all_top_block_phone receiver_block_rel_for_phone_code">
                <div class="all_botom_select all_top_block_phone_code receiver_select_phone_code s">
                    <div class="all_botom_select_selected text"(click)="toogleActiveForSlectOptionPhone()" >{{phoneCode}}</div>
                    <div class="all_img_selected_phone" (click)="toogleActiveForSlectOptionPhone()" >
                        <img src="assets/img/input_simvol.svg" alt="">
                    </div>
                    <div class="all_botom_select_options_codes_container">
                        <div class="all_botom_select_options_codes phone_botom_select_options_codes ">
                            <div *ngFor="let country of countries; let i = index" class="option text"(click)="valuePhone(callingCode[i], i)" [ngClass]="{'option--active': phoneCode === callingCode[i]}"><div class="phone_code_country_name">{{country}}</div><div class="phone_code_country_code">{{callingCode[i]}}</div></div>
                        </div>
                    </div>
                </div>
                <input (focus)="onFocusNumber()" (blur)="onFocusNumber()" type="phone" [(ngModel)]="contacts" name="Contact" class="all_top_block_inp all_top_block_inp_phone text" formControlName="Contact" [mask]="phoneMask">
            </div>
        </div>
        <div class="all_top_block sender_botom_block">
            <label for="Budget" class="all_top_block_text text text_gray" i18n>Email address <div class="all_top_block_text_curcle"><div class="all_top_block_text-message text one">This field is required</div></div></label>
            <div class="all_botom_block_select">
                <input [(ngModel)]="email" [ngClass]="{'input_error': getControl('Email').invalid && (getControl('Email').touched || getControl('Email').dirty)}" type="text" name="Budget" class="all_top_block_inp text text_gray" formControlName="Email">
            </div>
            <div *ngIf="getControl('Email').invalid && (getControl('Email').touched || getControl('Email').dirty)">
                <div class="text_error text text_gray" *ngIf="getControl('Email').errors?.['required']" i18n>
                  This field is required.
                </div>
            </div>
            <div *ngIf="getControl('Email').invalid && (getControl('Email').touched || getControl('Email').dirty)">
                <div class="text_error text text_gray" *ngIf="getControl('Email').errors?.['email']">
                    Data is invalid.
                </div>
            </div>
        </div>
    </div>
    <div class="button_submit_next_step"><button class="previous_step text"(click)="previousStep()" i18n>Previous step</button><button class="next_step text" type="submit" [disabled]="reciverForm.invalid || reciverForm.disabled" i18n>Next step</button></div>
</form>
