<div class="wrapper">
    <div class="cookies_page">
        <div class="cookies_info">
            <div class="cookies_info_texts cookies_info_texts_odd">
                <div class="cookies_info_texts_title text_title">
                    What cookies do?
                </div>
                <div class="cookies_info_texts_text text">
                    Cookies refer to small data files that are downloaded onto your device when you visit a website. When you revisit the same website, these cookies ensure that your device is recognized. Through the use of cookies and similar technologies like pixel tags/beacons and scripts, websites can store information about visits and their visitors. This information may include your IP address, the type of device you use, and your browsing behavior, such as specific web pages visited and website navigation. <br><br>
                    We employ two types of cookies: session cookies, which are deleted when you close your browser, and persistent cookies, which remain on your device for a predetermined period. Some cookies are placed by us, while others are placed by third parties. Third-party cookies may collect data beyond our own website.
                </div>
            </div>
            <div class="cookies_info_img cookies_info_img_all"><img src="assets/img/cookies_fs.png" alt=""></div>
            <div class="cookies_info_img_dark cookies_info_img_all"><img src="assets/img/cookies_dark_fs.png" alt=""></div>
        </div>
        <div class="cookies_info cookies_info_even">
            <div class="cookies_info_img cookies_info_img_all"><img src="assets/img/cookies_sc.png" alt=""></div>
            <div class="cookies_info_img_dark cookies_info_img_all"><img src="assets/img/cookies_dark_sc.png" alt=""></div>
            <div class="cookies_info_texts cookies_info_texts_even">
                <div class="cookies_info_texts_title text_title">
                    What categories of cookies are utilized on this website?
                </div>
                <div class="cookies_info_texts_text text">
                    This website exclusively employs functional and analytical cookies, which are essential for the proper functioning of the website. These cookies do not necessitate your explicit consent and are automatically placed on your browser when you use this website.
                </div>
            </div>
        </div>
        <div class="cookies_info">
            <div class="cookies_info_texts cookies_info_texts_odd">
                <div class="cookies_info_texts_title text_title">
                    Functional Cookies
                </div>
                <div class="cookies_info_texts_text text">
                    Functional cookies are essential for ensuring proper functionality and usability of our website. These cookies enable you to view and navigate our website seamlessly. They are also utilized to remember your language preferences and cookie settings. Additionally, functional cookies facilitate A/B testing, allowing us to experiment with new features, various versions, and designs of our website. It's important to note that the information gathered through these cookies is not used for marketing purposes. These cookies are vital for the optimal use of our website. If you choose to block this type of cookie in your browser, it may adversely affect the functionality of our website, and certain features may become unavailable.
                </div>
            </div>
            <div class="cookies_info_img cookies_info_img_all"><img src="assets/img/cookies_th.png" alt=""></div>
            <div class="cookies_info_img_dark cookies_info_img_all"><img src="assets/img/cookies_dark_th.png" alt=""></div>
        </div>
        <div class="cookies_info cookies_info_even">
            <div class="cookies_info_img cookies_info_img_all"><img src="assets/img/cookies_fr.png" alt=""></div>
            <div class="cookies_info_img_dark cookies_info_img_all"><img src="assets/img/cookies_dark_fr.png" alt=""></div>
            <div class="cookies_info_texts cookies_info_texts_even">
                <div class="cookies_info_texts_title text_title">
                    Analytical Cookies
                </div>
                <div class="cookies_info_texts_text text">
                    Analytical cookies collect aggregated information about how visitors utilize our website. This includes data on the most frequently visited pages, duration of visits, and any encountered errors. Furthermore, these cookies are employed for conducting user surveys and gathering feedback from visitors regarding our website as a whole or specific elements of it. The information derived from these cookies aids us in comprehending which sections of our website attract the most interest from our visitors and enables us to enhance the overall quality of our website.
                </div>
            </div>
        </div>
        

    </div>
</div>
