.cookies_page{
    padding-top: 148px;
}
.cookies_info_img_dark{
    display: none;
}
.cookies_info{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #456080;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.cookies_info_texts_odd{
    margin-right: 129px;
}
.cookies_info_texts_even{
    margin-left: 129px;
}
.cookies_info_texts_title{
    margin-bottom: 32px;
}
.cookies_info_texts{
    align-self: center;
}
.cookies_info:nth-last-child(1){
    border: none;
}
.text_mb{
    margin-bottom: 12px;
}