<form class="scroll-load-component" (appVisible)="onVisible()" [formGroup]='senderForm' (ngSubmit)="submitSender()" novalidate>
    <div class="sender_text_top"> <div class="text" i18n>Please provide the necessary information in five steps for an optimal quotation proposal tailored to your transportation needs. </div></div>

    <div class="all_top">
        <div class="all_top_block">
            <label for="Company" class="all_top_block_text text" i18n>Company name<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text one">This field is required</div></div> </label>
            <input type="text" [ngClass]="{'input_error': _company.invalid && (_company.touched || _company.dirty)}" [(ngModel)]="company" id="Company" name="Company" class="all_top_block_inp text" formControlName="Company">
            <div *ngIf="_company.invalid && (_company.touched || _company.dirty)">
                <div class="text_error text" *ngIf="_company.errors?.required" i18n>
                    This field is required. 
                </div>
            </div>
            <div *ngIf="_company.invalid && (_company.touched || _company.dirty)">
                <div class="text_error text" *ngIf="_company.errors?.pattern">
                    Data is invalid.
                </div>
            </div>
        </div>
        <div class="all_top_block counrty_block">
            <label for="Country" class="all_top_block_text text" i18n>Country<div class="all_top_block_text_curcle" ><div class="all_top_block_text-message text two">This field is required</div></div> </label>
            <div class="img_inpu_country"><img src="assets/img/input_simvol.svg" alt="" (click)="addFocuse()" ></div>
            <input type="text" (click)="addFocuse()"  [(ngModel)]="valueCountry" autocomplete="off" name="Country" class="all_top_block_inp all_top_block_inp_country text" (keyup)="onKeay(valueCountry)"  formControlName="Country">
            <div class="county_container">
                <div id="country" class="country">
                    <div class="span_country" *ngFor="let country of countries">
                        <div class="text text_country" [ngClass]="{'text_country-selected' : valueCountry === country }" *ngIf="country !== 'Belarus' 
                        && country !== 'Cuba' 
                        && country !=='Iran' 
                        && country !=='Korea, North' 
                        && country !== 'Yemen' 
                        && country !== 'Russia'
                        && country !== 'Syria'
                        && country !== 'Somalia'
                        && country !== 'Sudan'
                        && country !== 'South Sudan'" 
                        (click)="slectValueClick(country)" (mouseenter)="slectValue(country)">{{country}}</div>
                        <div class="text text_country" [ngClass]="{'text_country-non-active' : country === 'Belarus' 
                        || country === 'Cuba' 
                        || country ==='Iran' 
                        || country ==='Korea, North' 
                        || country === 'Yemen' 
                        || country === 'Russia'
                        || country === 'Syria'
                        || country === 'Somalia'
                        || country === 'Sudan'
                        || country === 'South Sudan'}" 
                        *ngIf="country === 'Belarus' 
                        || country === 'Cuba' 
                        || country ==='Iran' 
                        || country ==='Korea, North' 
                        || country === 'Yemen' 
                        || country === 'Russia'
                        || country === 'Syria'
                        || country === 'Somalia'
                        || country === 'Sudan'
                        || country === 'South Sudan'">{{country}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all_top_block">
            <label for="City" class="all_top_block_text text" i18n>City<div class="all_top_block_text_curcle" ><div class="all_top_block_text-message text three" >This field is required</div></div> </label>
            <input type="text" [ngClass]="{'input_error': _city.invalid && (_city.touched || _city.dirty)}" [(ngModel)]="city" name="City" class="all_top_block_inp text" formControlName="City">
            <div *ngIf="_city.invalid && (_city.touched || _city.dirty)">
                <div class="text_error text" *ngIf="_city.errors?.required" i18n>
                    This field is required.
                </div>
            </div>
            <div *ngIf="_city.invalid && (_city.touched || _city.dirty)">
                <div class="text_error text" *ngIf="_city.errors?.pattern">
                    Data is invalid.
                </div>
            </div>
        </div>
        <div class="all_top_block">
            <label for="Postal" class="all_top_block_text text" i18n>Postal code<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text four">This field is required</div></div> </label>
            <input type="text" [ngClass]="{'input_error': _postal.invalid && (_postal.touched || _postal.dirty)}" [(ngModel)]="postal" name="Postal" class="all_top_block_inp text" formControlName="Postal">
            <div *ngIf="_postal.invalid && (_postal.touched || _postal.dirty)">
                <div class="text_error text" *ngIf="_postal.errors?.required" i18n>
                    This field is required.
                </div>
            </div>
            <div *ngIf="_postal.invalid && (_postal.touched || _postal.dirty)">
                <div class="text_error text" *ngIf="_postal.errors?.pattern">
                    Data is invalid.
                </div>
            </div>
        </div>
    </div>
    <label for="Street" class="all_top_block_text text"i18n>Street<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text fiive">This field is required</div></div> </label>
    <input type="text" [ngClass]="{'input_error': _street.invalid && (_street.touched || _street.dirty)}" [(ngModel)]="street" name="Street" class="all_top_block_inp sender_top_block_inp_street text" formControlName="Street">
    <div *ngIf="_street.invalid && (_street.touched || _street.dirty)">
        <div class="text_error text mt-24" *ngIf="_street.errors?.required" i18n>
            This field is required.
        </div>
    </div>
    <div *ngIf="_street.invalid && (_street.touched || _street.dirty)">
        <div class="text_error text mt-24" *ngIf="_street.errors?.pattern">
            Data is invalid.
        </div>
    </div>
    <div class="all_botom">
        <div class="all_top_block sender_botom_block">
            <label for="Contact" class="all_top_block_text text" i18n>Phone number<div class="all_top_block_text_curcle"><div class="all_top_block_text-message text six">This field is required</div> </div></label>
            <div class="phone all_top_block_phone sender_block_rel_for_phone_code">
                <div [ngClass]="{'input_error_for_phone_code': _contact.invalid && (_contact.touched || _contact.dirty)}" class="all_botom_select sender_select_phone_code all_top_block_phone_code">
                    <div class="all_botom_select_selected text"(click)="toogleActiveForSlectOptionPhone()" >{{phoneCode}}</div>
                    <div class="all_img_selected_phone" (click)="toogleActiveForSlectOptionPhone()" >
                        <img src="assets/img/input_simvol.svg" alt="">
                    </div>
                    <div class="all_botom_select_options_codes_container">
                        <div class="all_botom_select_options_codes phone_botom_select_options_codes ">
                            <div *ngFor="let country of countries; let i = index" class="option text"(click)="valuePhone(callingCode[i], i)" [ngClass]="{'option--active': phoneCode === callingCode[i]}"><div class="phone_code_country_name">{{country}}</div><div class="phone_code_country_code">{{callingCode[i]}}</div></div>
                        </div>
                    </div>
                </div>
                <input [ngClass]="{'input_error': _contact.invalid && (_contact.touched || _contact.dirty)}" (focus)="onFocusNumber()" (blur)="onFocusNumber()" type="phone" [(ngModel)]="contacts" name="Contact" class="all_top_block_inp all_top_block_inp_phone text" formControlName="Contact" [mask]="phoneMask">
            </div>
            <div *ngIf="_contact.invalid && (_contact.touched || _contact.dirty)">
                <div class="text_error text" *ngIf="_contact.errors?.required" i18n>
                    This field is required.
                </div>
            </div>
            <div *ngIf="_contact.invalid && (_contact.touched || _contact.dirty)">
                <div class="text_error text" *ngIf="_contact.errors?.minLength">
                    Data is invalid.
                </div>
            </div>
        </div>
        <div class="all_top_block sender_botom_block">
            <label for="Budget" class="all_top_block_text text" i18n>Budget</label>
            <div class="all_botom_block_select">
                <input type="text" [(ngModel)]="buget" name="Budget" class="all_top_block_inp text" formControlName="Budget">
                <div class="all_botom_select">
                    <div class="all_botom_select_selected text" (click)="toogleActiveForSlectOption()">{{valueCurrency}}</div>
                    <div class="all_img_selected" (click)="toogleActiveForSlectOption()">
                        <img src="assets/img/input_simvol.svg" alt="">
                    </div>
                    <div class="all_botom_select_options currency">
                        <div class="option text"(click)="selectValueBudget('CZK')" [ngClass]="{'option--selected' : valueCurrency === 'CZK' }">CZK</div>
                        <div class="option text" (click)="selectValueBudget('USD')"[ngClass]="{'option--selected' : valueCurrency === 'USD' }">USD</div>
                    </div>
                </div>
            </div>
            <div *ngIf="_budget.invalid && (_budget.touched || _budget.dirty)">
                <div class="text_error text" *ngIf="_budget.errors?.pattern">
                    Data is invalid.
                </div>
            </div>
            
        </div>
    </div>
    <div class="button_submit_next_step"><button class="next_step text" type="submit" [disabled]="senderForm.invalid || senderForm.disabled" i18n>Next step</button></div>
</form>