.all_top_block{
    margin-bottom: 24px;
    width: calc(100%/2 - 12px);
}
.sender_top_block_inp_street {
    margin-bottom: 24px;
}
.sender_top_block_inp_street{
    width: 100%;
}
.sender_select_phone_code{
    position: static;
}
.sender_block_rel_for_phone_code{
    position: relative;
}
.all_botom_select_options_codes{
    width: 100%;
    padding: 8px;
    overflow-y: scroll;
    max-height: 218px;
}
.phone_botom_select_options_codes .option:hover{
    background: #ECECED;
}
.phone_botom_select_options_codes .option{
    display: flex;
    justify-content: space-between;
    padding: 11px 8px;
    border-radius: 3.2px;  
    cursor: default;
    margin: 2px 0;
}
.phone_botom_select_options_codes .option--active{
    background: #E6EBF1;
}
.text_country-non-active{
    cursor: none;
    opacity: .4;
    
}
.text_country-non-active:hover{
    opacity: .4;
}
.sender_text_top{
    background: rgba(230, 235, 241, 0.5);
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 40px;
}
.sender_text_top .text{
    position: relative;
}