<div class="calendar_text text">Please, select preferred date of realization in the calendar below.</div>
<div class="calendar_content">
    <div class="calendar">
        <div class="calendar_top">
            <div class="calendar_top_provision calendar_top_img" (click)="lessNowMinth()"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M11.9947 7.3503L9.01969 10.5441C8.77469 10.8066 8.77469 11.2091 9.01969 11.4628L11.9947 14.6566C12.4147 15.1028 13.1672 14.8141 13.1672 14.1928V7.8053C13.1672 7.1928 12.4147 6.8953 11.9947 7.34155V7.3503Z" fill="#090C10"/>
                </svg></div>
            <caption class="text calendar_top_date" (click)="changeCalendarChoise()">{{currentMonthOfString}} {{currentYer}}</caption>
            <div class="calendar_top_next calendar_top_img" (click)="nextNowMinth()"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M11.9947 7.3503L9.01969 10.5441C8.77469 10.8066 8.77469 11.2091 9.01969 11.4628L11.9947 14.6566C12.4147 15.1028 13.1672 14.8141 13.1672 14.1928V7.8053C13.1672 7.1928 12.4147 6.8953 11.9947 7.34155V7.3503Z" fill="#090C10"/>
                </svg></div>
        </div>
        <div class="calendar_table">
            <table id="myTable">
                <thead class="border_bottom">
                    <tr class="custom-tr">
                        <th class="text" *ngFor="let day of weekDays">{{ day }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let week of calendar">
                        <td class="text text_day" *ngFor="let day of week" [ngClass]="{ 'current-day': day.isCurrentDay, 'selected-day': day.date === selectedDate && day.date != null, 'none-active': day.date == null}" (click)="selectDate(day.date)">
                          <div>{{ day.day }} </div>
                        </td>
                      </tr>
                </tbody>
            </table>
        </div>
        <div class="calendar_choice_month" [ngClass]="{'calendar_choice_month--none': calendarChoise}">
            <div class="calendar_choice_month_top calendar_choice_month_all">
                <div class="calendar_choice_month_top_years calendar_choice_month_all_years text ">
                    2023
                </div>
                <div class="calendar_choice_month_top_months calendar_choice_month_all_months">
                    <div class="calendar_choice_month_top_months_month calendar_choice_month_all_months_month text" (click)="choiseMonth(i, 2023)" *ngFor="let month of monthForChoise; let i = index">{{month}}</div>
                </div>
            </div>
            <div class="calendar_choice_month_bottom calendar_choice_month_all">
                <div class="calendar_choice_month_bottom_years calendar_choice_month_all_years text ">
                    2024
                </div>
                <div class="calendar_choice_month_bottom_months calendar_choice_month_all_months">
                    <div class="calendar_choice_month_bottom_months_month calendar_choice_month_all_months_month text" (click)="choiseMonth(i, 2024)" *ngFor="let month of monthForChoise; let i = index">{{month}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<label for="Goods" class="all_top_block_text date_top_block_text_textarea text text_gray" i18n>Note</label>
<textarea autocomplete="off" [(ngModel)]="description" name="Goods" id="" [value]="description" class="mb_texarea all_top_block_inp text date_top_block_textarea data_text_ara"></textarea>

<div class="button_submit_next_step"><button class="previous_step text"(click)="previousStep()" i18n>Previous step</button><button class="next_step text" type="submit" (click)="nextStep()" i18n>Next step</button></div>