<div class="wrapper">
    <div class="privacy">
        <div class="privacy_text_block_top">
            <div class="privacy_text_block_top_left">
                <div class="privacy_text_block_title text" i18n>
                    GDPR Personal data privacy
                </div>
                <div class="privacy_text_block_text text" i18n>
                    The Orderer agrees that the Sender in the sense of Regulation of the European Parliament and of the Council (EU) 2016/679 of 27.04.2016 on the protection of natural persons in connection with the processing of personal data and on the free movement of such data and on the repeal of Directive 95/46/EC (general regulation on the protection of personal data) (hereinafter referred to as the GDPR) processed, collected and stored the personal data of the Order specified by the Orderer in the Form, in the Communication, in the Shipping Agreement, as well as in any communication between the Orderer and the Sender, as well as other personal data necessary for the purposes of providing of Transport services by the Sender to the Orderer. These personal data will be processed by the Sender and stored in the Sender's client register exclusively for the purposes of fulfilling Sender's obligations from the Social Security Act and/or for the purposes of protecting Sender's rights.
                </div>
                <div class="privacy_text_block_text text" i18n>
                    If the Orderer is a person whose personal data is protected by the GDPR, and if the Orderer asks the Sender for information about the processing of his personal data, it is WE-DEL s.r.o., ID: 192 03 462, with registered office at Aviatická 1092/8, Ruzyně, 161 00 Prague 6, entered in the commercial register maintained at the Municipal Court in Prague under no. stamp C 383004 Page 9 The Sender is obliged in accordance with the GDPR to forward such information to the Orderer without undue delay. In the event that such an Orderer discovers inaccuracies in the data processed by the Sender, he is entitled to request that the Sender make a correction.
                </div>
            </div>
            <img class="privacy_img privacy_img_light" src="assets/img/desctop_light_privacy.png" alt="">
            <img class="privacy_img privacy_img_dark" src="assets/img/desctop_dark_privacy.png" alt="">
        </div>
        <div class="privacy_text_block_text text privacy_text_block_text--desctop" i18n>
            The Orderer grants consent in accordance with this article of these GTC for the duration of the contractual relationship established between the Sender and the Orderer and established by the TC.
        </div>
        <div class="privacy_text_block_text text privacy_text_block_text--desctop" i18n>
            The Orderer undertakes to ensure the consent of the recipient of the Shipment to the processing of the personal data of such recipient by the Sender and the Transporter in the sense of the GDPR, to the extent that the Sender can properly fulfill the obligations arising from the General Terms and Conditions.
        </div>
        <div class="privacy_text_block_text text privacy_text_block_text--mobile" i18n>
            The Orderer grants consent in accordance with this article of these GTC for the duration of the contractual relationship established between the Sender and the Orderer and established by the TC.
        </div>
        <div class="privacy_text_block_text text privacy_text_block_text--mobile" i18n>
            The Orderer undertakes to ensure the consent of the recipient of the Shipment to the processing of the personal data of such recipient by the Sender and the Transporter in the sense of the GDPR, to the extent that the Sender can properly fulfill the obligations arising from the General Terms and Conditions.
        </div>
        <div class="privacy_text_block_text text" i18n>
            The Sender undertakes to handle the data of data subjects that it receives from the Orderer for the purpose of carrying out transport or related services, and which are of the nature of personal data, in accordance with the applicable legislation of the Czech Republic and the EU, and will not use them for any purpose other than the fulfillment of the Order in favor of the data subject.9.5 The Sender undertakes to handle the data of data subjects that it receives from the Orderer for the purpose of carrying out transport or related services, and which are of the nature of personal data, in accordance with the applicable legislation of the Czech Republic and the EU, and will not use them for any purpose other than the fulfillment of the Order in favor of the data subject.
        </div>
        <div class="privacy_text_block_text text privacy_text_block_text--none_bottom" i18n>
            The contracting parties of the TC have agreed that the Orderer (or a person linked to him within these GTC or TC) may be contacted by the Sender, possibly by a person authorized by him, in the event of a marketing or advertising event, an offer of business cooperation, competitions, announcements or inquiries regarding the simultaneous cooperation of whose announcement or business communication in person, by telephone, in writing or electronically, or in another form of contact, and the Orderer agrees to the use of his contact details for the Sender's marketing purposes.
        </div>
    </div>
</div>