<form [formGroup]="requestACallForm" (submit)="submitReqACAll()" class="request_a_call_form">
    <div class="input_form">
        <div class="footer_select_item all_botom_select sender_select_phone_code all_top_block_phone_code">
            <div class="all_botom_select_selected text" (click)="toggleSelectItem()">{{countryCode}}</div>
            <div class="all_img_selected_phone" (click)="toggleSelectItem()">
                <img src="assets/img/input_simvol.svg" alt="" [ngClass]="{'rotate_block':isActiveSelect}">
            </div>
        </div>
        <div class="all_botom_select_options_codes_container all_botom_select_options_codes--footer" [ngClass]="{'all_botom_select_options--focuse':isActiveSelect}">
            <div  class="all_botom_select_options_codes phone_botom_select_options_codes " >
                <div *ngFor="let country of countries; let i = index" class="option text" (click)="getPhoneCode(callingCode[i], digitsAfterCode[i])"><div class="phone_code_country_name">{{country}}</div><div class="phone_code_country_code">{{callingCode[i]}}</div></div>
            </div>
        </div>
        <input type="text" name="phone" class="footer_input all_top_block_inp form_request_a_call_all_input text" formControlName="Phone" [mask]="phoneMask">
        <!-- <div *ngIf="_phone.invalid && (_phone.touched || _phone.dirty)">
            <div class="text_error text" *ngIf="_phone.errors?.required" i18n>
                This field is required. 
            </div>
        </div>     -->
    </div>
    <button class="text form_request_a_call_button" type="submit" [disabled]="requestACallForm.invalid || requestACallForm.disabled">Request a call</button>
</form>
