
<div class="toast_container">
<div class="toast">
    <div class="toast-icon">
    </div>
    <div class="toast-content">
      <div class="text toast-content_title" i18n>Thank you for your email!</div>
      <div class="text" i18n>We understand the importance of your request and are committed to providing you with a prompt response. However, if your request requires immediate attention and cannot wait for a response via email, we kindly request that you reach out to us directly via phone call. Our dedicated contact number is +420 727 893 073.</div>
    </div>
    <div class="toast-close" (click)="closeToast()">
      <img src="assets/img/toast_close.svg" alt="">
    </div>
  </div>
</div>