.dark{
    background: -webkit-linear-gradient(270deg, #344860 0%, #2E3134 93.69%) !important;
    background: linear-gradient(270deg, #344860 0%, #2E3134 93.69%) !important;
}
.dark .burger span{
    background-color: #ECECED !important;
}
.dark .text_title{
    color: #ECECED !important;
}
.dark .title_all_block{
    color: #ECECED !important;
}
.dark .text{
    color: #ECECED !important;
}
.dark .title_for_story{
    color: #ECECED !important;
}
.dark .text_big{
    color: #ECECED !important;
}
.dark .cookies_bottom_white{
    color: var(--primary-800, #456080) !important;
}
.dark input{
    background: rgba(106, 109, 112, 0.05) !important;
    border: 1px solid #6A6D70 !important;
}
.dark textarea{
    background: rgba(106, 109, 112, 0.05) !important;
    border: 1px solid #6A6D70 !important;
}
.dark .all_top_block_text-message{
    background: #525457 !important;
}
.dark .all_top_block_text-message::before{
    background: #525457 !important;
}
.dark .mobile{
    background: linear-gradient(124.98deg, rgba(82, 84, 87, 0.4) 11.72%, rgba(82, 84, 87, 0.1) 89.81%) !important;
}

/* Header */
.dark header{
    background-color: #3A3C3F !important;
}
.dark .text a{
    color: #FBFBFB !important;
}
.dark .span_get:hover{
    background: rgba(251, 251, 251, 0.10) !important;
}
.dark .sleceted_header{
    background: rgba(251, 251, 251, 0.1) !important;
    
    border: none !important;
}
.dark .span_get_img:hover{
    
    background: rgba(251, 251, 251, 0.10) !important;
}
.dark .all_select_text_active{
    background: rgba(83, 115, 153, 0.50) !important;
}
.dark .all_select_text_active:hover{
    background: #537399 !important;
}
.dark .span_get_img svg path{
    fill: #FBFBFB !important;
}
.dark header .logo svg path{
    fill: #ECECED !important;
}
.dark .all_select_text_active a{
    color: #ECECED !important;
}


/* Header */

/* Tailored */

.dark .img:nth-child(1){
    display: none !important;
}
.dark .img:nth-child(2){
    display: none !important; 
}
.dark .img:nth-child(3){
    display: block !important;
}
.dark .img:nth-child(4){
    display: none !important;
}
.dark .services_cards_card_content_texts_tabled_shadow{
    background: linear-gradient(270deg, #474a4f 0%, rgba(84, 89, 96, 0.03) 100%) !important;
}
.dark .services_cards_card_content_texts_tabled_shadow_end{
    background: linear-gradient(270deg, #53595F 0%, rgba(84, 89, 96, 0.03) 100%) !important;
}

.dark .story_card_manifesto_card_contaniner_block_title{
    color: #809BBA !important;
}

@media (max-width: 727px){
    .dark .services_cards_card_content_texts_tabled::-webkit-scrollbar-thumb {
        background: var(--primary-600, #6687AD) !important;
    }
    .dark .services_cards_card_content_texts_tabled::-webkit-scrollbar-track {
        background: var(--neutral-600, #8E9295) !important;
    }
}

/* Tailored */

/* We do */

.arrage_cards_card_fs{
    background: url('src/assets/img/new_bg_card_fs_nbs.svg') 0 0/cover no-repeat;
}
.arrage_cards_card_sc{
    background: url('src/assets/img/new_bg_card_sc_nbs.svg') 0 0/cover no-repeat;
}
.arrage_cards_card_th{
    background: url('src/assets/img/new_bg_card_th_nbs.svg') 0 0/cover no-repeat;
}

.dark .arrage_cards_card_fs{
    background: url('src/assets/img/dark_card_we_do_fs.svg') 0 0/cover no-repeat;
} 
.dark .arrage_cards_card_sc{
    background: url('src/assets/img/dark_card_we_do_sc.svg') 0 0/cover no-repeat;
}
.dark .arrage_cards_card_th{
    background: url('src/assets/img/dark_card_we_do_th.svg') 0 0/cover no-repeat;
}
.dark .arrage_cards_card_text{
    background: -webkit-linear-gradient(124.98deg, rgba(82, 84, 87, .4) 11.72%, rgba(82, 84, 87, .1) 89.81%) !important;
    background: linear-gradient(124.98deg, rgba(82, 84, 87, 0.4) 11.72%, rgba(82, 84, 87, 0.1) 89.81%) !important;
}
.dark .owl-dot{
    background: #A1A3A6 !important;
}

@media(max-width:1075px) {
    .arrage_cards_card_fs{
        background: url('src/assets/img/new_bg_card_fs_nbs.svg') 100% no-repeat;
    }
    .arrage_cards_card_th{
        background: url('src/assets/img/new_bg_card_th_nbs.svg') 100% no-repeat;
    }
    .arrage_cards_card_sc{
        background: url('src/assets/img/new_bg_card_sc_nbs.svg') 100% no-repeat;
    }
    .dark .arrage_cards_card_fs{
        background: url('src/assets/img/dark_card_we_do_fs.svg') 100% no-repeat;
    }
    .dark .arrage_cards_card_th{
        background: url('src/assets/img/dark_card_we_do_th.svg') 100% no-repeat;
    }
    .dark .arrage_cards_card_sc{
        background: url('src/assets/img/dark_card_we_do_sc.svg') 100% no-repeat;
    }
}

/* We do */


/* Services */

.dark .services_cards_card:nth-child(1){
    background: url('src/assets/img/dark_card_service_fs.svg') 0 0/cover  no-repeat !important;
}
.dark .services_cards_card:nth-child(2){
    background: url('src/assets/img/dark_card_service_sc.svg') 0 0/cover  no-repeat !important;
}
.dark .services_cards_card:nth-child(3){
    background: url('src/assets/img/dark_card_service_th.svg') 0 0/cover  no-repeat !important;
}
.dark .services_cards_card_content{
    background: linear-gradient(124.98deg, rgba(82, 84, 87, 0.4) 11.72%, rgba(82, 84, 87, 0.1) 89.81%) !important;
}
.dark .services_cards_card_content_texts_tabled tr th{
    background: rgba(83, 115, 153, 0.4) !important;
}
.dark .services_cards_card_content_texts_tabled tr td{
    background: rgba(251, 251, 251, 0.1) !important;
     
}
.dark .services_cards_card_content_texts_text_description{
    background: rgba(102, 135, 173, 0.15) !important;
}

/* Services */

/* Tracking */

.dark .tracking_content{
    background: #3A3C3F !important;
}
.dark .text_exampl{
    color: #6687AD !important;
}
.dark .tracking_content_text{
    background-color: #6687AD26 !important;
}


/* Tracking */

/* Story */

.dark .story_card{
    background: #3A3C3F !important;
}
.dark .story_card_values_cards_card{
    background: rgba(82, 84, 87, 0.5) !important;
}
.dark .story_card_manifesto_card{
    background: none !important;
}
.dark .story_card_manifesto_card_contaniner_block_text{
    color: #D9DADC !important;
}


/* Story */

/* FAQ */

.dark .help_card{
    background: #3A3C3F !important;
}
.dark .help_card_info{
    background: #3A3C3F !important;
}
.dark .help_card_content_toggles_toggle_questions{
    background: rgba(83, 115, 153, 0.4) !important;
}
.dark .help_card_content_toggles_toggle_text{
    background: rgba(239, 243, 246, 0.1) !important;
}

/* FAQ */

/* Contnact */

.dark .contact_card{
    background: url('src/assets/img/dark_contact_bg.svg') 0 0/ cover !important;
}
.dark .contact_card_links{
    background: linear-gradient(124.98deg, rgba(58, 60, 63, 0.4) 11.72%, rgba(58, 60, 63, 0.1) 89.81%) !important;
}
.dark .form_contact{
    background: #3A3C3F !important;
}
.dark .form_contact_text{
    background: rgba(102, 135, 173, 0.15) !important;
}

/* Contnact */

/* Quote */

.dark .text_block_summary_img svg path{
    fill: #ececed!important;
}
.dark .previous_step{
    background: rgba(102, 135, 173, 0.16) !important;
}
.dark .calendar_top_img svg path{
    fill: #ECECED !important;
}
.dark .quotation_block{
    background: #3A3C3F !important;
}
.dark .quotation_block_progress_line{
    background: #525457 !important;
}
.dark .quotation_block_progress_curcle{
    border: 2px solid #525457 !important;
}
.dark .quotation_block_progress_curcle_active{
    border: 2px solid #99AFC8 !important;
}
.dark .all_select_text:hover{
    background: rgba(251, 251, 251, 0.1);
}
.dark .quotation_block_progress_curcle_active::after{
    background: #99AFC8 !important;
}
.dark .quotation_block_progress_line_active{
    background: #99AFC8 !important;
}
.dark .quotation_block_progress-done_sender .quotation_block_progress_line-specifications{
    background: #99AFC8 !important;
}
.dark .quotation_block_progress-done_specifications .quotation_block_progress_line-date{
    background: #99AFC8 !important;
}   
.dark .quotation_block_progress-done_date .quotation_block_progress_line-receiver{
    background: #99AFC8 !important;
}
.dark .quotation_block_progress-done_receiver .quotation_block_progress_line-symmary{
    background: #99AFC8 !important;
}
.dark .sender_text_top{
    background: rgba(102, 135, 173, 0.15) !important;
}
.dark .all_botom_select{
    border: 1px solid #6A6D70 !important;
}
.dark .input_error_for_phone_code{
    border: 1px solid #F37373 !important;
}
.dark .input_error{
    border: 1px solid #F37373 !important;
}

.dark .all_top_block_inp:focus{
    border: 1px solid #809BBA !important;
}
.dark .all_botom_select_options{
    background: #414447 !important;
}
.dark .all_botom_select_options .option--selected{
    background: rgba(102, 135, 166, 0.25) !important;

}
.dark .all_botom_select_options .option:hover{
    background: rgba(82, 84, 87, 0.5) !important;
}
.dark .country{
    background: #414447 !important;
}
.dark .country .span_country .text_country:hover{
    background: rgba(82, 84, 87, 0.5) !important;
}
.dark .text_country-selected{
    background: rgba(102, 135, 166, 0.25) !important;
}
.dark .all_botom_select_options_codes{
    background: #414447 !important;
}
.dark .phone_botom_select_options_codes .option:hover{
    background: rgba(82, 84, 87, 0.5) !important;
}
.dark .phone_botom_select_options_codes .option--active{
    background: rgba(102, 135, 166, 0.25) !important;
}
.dark .country::-webkit-scrollbar{
    background: #414447;

}
.dark .country::-webkit-scrollbar-thumb{
    background: #7C7F83;
}

.dark .phone_botom_select_options_codes::-webkit-scrollbar{
    background: #414447;
  
}
.dark .phone_botom_select_options_codes::-webkit-scrollbar-thumb{
    background: #7C7F83;
}
.dark .calendar_table tbody .text:nth-last-child(1){
    color: #8E9295 !important;
}
.dark .calendar_table .text:nth-child(1){
    color: #8E9295 !important;
}
.dark .calendar_table tbody .text:nth-child(1){
    color: #8E9295 !important;
}
.dark .calendar_table .text:nth-last-child(1){
    color: #8E9295 !important;
}
.dark .summary_info_input_value-all{
    background: rgba(46, 49, 52, 0.5) !important;
}
.dark .stepper{
    background: #414447 !important;
}
.dark .quotation_block_progress-done_sender .quotation_block_progress_curcle-sender{
    border:1px solid #99AFC8 !important;
    background: #99AFC8 !important;
}
.dark .quotation_block_progress-done_specifications .quotation_block_progress_curcle-specifications{
    border:1px solid #99AFC8 !important;
    background: #99AFC8 !important;
}
.dark .quotation_block_progress-done_date .quotation_block_progress_curcle-date{
    border:1px solid #99AFC8 !important;
    background: #99AFC8 !important;
}
.dark .quotation_block_progress-done_receiver .quotation_block_progress_curcle-receiver{
    border:1px solid #99AFC8 !important;
    background: #99AFC8 !important;
}
.dark .quotation_block_progress_curcle svg path{
    fill: #3A3C3F !important;
}
.dark .quotation_block_progress_curcle_text{
    color: #7C7F83 !important;
}
.dark .quotation_block_progress_curcle_text_active{
    color: #ECECED !important;
}
.dark .svg svg path:nth-child(1){
    fill: #A1A3A6 !important;
}
.dark .svg svg path:nth-child(2){
    fill: #6687AD !important;
}
.dark .stepper_swg_text_all_light{
    color: #8E9295 !important;
}
.dark .border_for_select{
    border: 1px solid var(--neutral-200, #6A6D70) !important;
}
.dark .spec_bottom{
    border-top: 1px solid #8E9295 !important;
}
.dark .text_gray{
    color: #B4B6B8 !important;
}
.dark .all_select_text_active .text{
    color: #ECECED !important;
}
.dark .all_select_text_active .text:hover{
    background: none !important;
}
.dark .currency_select{
    background: rgba(106, 109, 112, 0.05) !important;
}
.dark .phone_code_bg{
    background: rgba(106, 109, 112, 0.05) !important;
}
.dark .params_add{
    color: #157b3b !important;
}
.dark .params_remove{
    color: #b10f0f !important;
}
.dark .all_block_text{
    color: #B4B6B8 !important;
}
.dark .summary_blocks-all{
    border-bottom: 1px solid #8E9295 !important;
}
.dark .county_container_shadow_start{
    background: linear-gradient(359deg,#414447 0%,#41444700 100%) !important;
}
.dark .county_container_shadow_end{
    background: linear-gradient(180deg,#414447 0%,#41444700 100%) !important;
}

/* Quote */

/* Footer */

.dark footer{
    background: #344860 !important;
}
.dark .form_request_a_call_all_input{
    border: none !important;
}
.dark .form_request_a_call_button{
    background-color: rgba(245, 222, 179, 0) !important;
    border: none !important;
    transition: .5s;
}
.dark .form_request_a_call_button:hover{
    background: rgba(102, 135, 173, 0.16) !important;
}
.dark .form_request_a_call_button:active{
    background: rgba(102, 135, 173, 0.26) !important;
}
.dark .footer_select_item{
    background: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid var(--primary-1000, #344860) !important;
}
.dark .footer_input{
    background: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid var(--primary-1000, #344860) !important;
}
.dark .all_botom_select_options_codes_container{
    background: #414447 !important;
}
.dark .county_container{
    background: #414447 !important;
}

/* Footer */

/* Cookies */

.dark .cookies_info_img_dark{
    display: block !important;
}
.dark .cookies_info_img{
    display: none !important;
}
.dark .cookies_setup{
    background: var(--neutral-1000, #3A3C3F) !important;
}
.dark .cookies_setup_top{
    border-bottom: 1px solid var(--neutral-800, #6A6D70) !important;
}
.dark .cookies_setup_body_select{
    border: 1px solid var(--neutral-800, #6A6D70) !important;
    background: rgba(106, 109, 112, 0.05) !important;
}
.dark .cookies_setup_body_select_value{
    color: var(--neutral-300, #C7C8CA) !important;
}
.dark .cookies_setup_body_select_value:hover{
    background: rgba(82, 84, 87, 0.50) !important;
}
.dark .cookies_setup_body_select_value_necessary--active{
    color: var(--neutral-100, #ECECED) !important;
    background: rgba(83, 115, 153, 0.50) !important;
}
.dark .cookies_setup_body_select_value_analytical--active{
    color: var(--neutral-100, #ECECED) !important;
    background: rgba(83, 115, 153, 0.50) !important;
}
.dark .cookies_setup_body_select_value_necessary--active:hover{
    color: var(--neutral-100, #ECECED) !important;
    background: rgba(83, 115, 153, 0.50) !important;
}
.dark .cookies_setup_body_select_value_analytical--active:hover{
    color: var(--neutral-100, #ECECED) !important;
    background: rgba(83, 115, 153, 0.50) !important;
}


/* Cookies */

/* Privacy */

.dark .privacy_img_dark{
    display: block !important;
}
.dark .privacy_img_light{
    display: none !important;
}

/* Privacy */

/* Loading */

.dark .loading{
    background: var(--neutral-1100, #2E3134) !important;
}
.dark .loading svg path{
    fill: #A1A3A6 !important;
}

/* Loading */

/* Data */
.dark .calendar_text{
    background: #6687ad26!important;
}
.dark .calendar_choice_month--none{
    background: #414447 !important;
}


.dark .contact_card_links_block_button:hover{
    background-color: rgba(102, 135, 173, 0.36) !important;
    
}
.dark .contact_card_links_block_button:active{
    background-color: rgba(102, 135, 173, 0.46) !important;
    
}



@media (max-width: 839px){
    .dark .img:nth-child(2){
        display: none !important;
    }
    .dark .img:nth-child(3){
        display: none !important;
    }
    .dark .img:nth-child(4){
        display: block !important;
    }
    .dark .arrage_cards_card_fs{
        background: url('src/assets/img/we_do_mobile_dark_fs_th.svg') 100% !important;
    }
    .dark .arrage_cards_card_sc{
        background: url('src/assets/img/we_do_mobile_dark_sc.svg') 100% !important;
    }
    .dark .arrage_cards_card_th{
        background: url('src/assets/img/we_do_mobile_dark_fs_th.svg') 100% !important;
    }
    .dark .arrage_cards_card .arrage_cards_card_dark_img{
        display: block !important;
    }
    .dark .arrage_cards_card .arrage_cards_card_light_img{
        display: none !important;
    }
}
@media(min-width: 1653px){
    .arrage_cards_card_fs{
        background: url('src/assets/img/new_bg_card_fs_nbs.svg') 0 0/cover    no-repeat;
    }
    .arrage_cards_card_sc{
        background: url('src/assets/img/new_bg_card_sc_nbs.svg') 0 0/cover   no-repeat;
    }
    .arrage_cards_card_th{
        background: url('src/assets/img/new_bg_card_th_nbs.svg') 0 0/cover   no-repeat;
    }
    
    .dark .arrage_cards_card_fs{
        background: url('src/assets/img/dark_card_we_do_fs.svg')  0 0/cover    no-repeat ;
    } 
    .dark .arrage_cards_card_sc{
        background: url('src/assets/img/dark_card_we_do_sc.svg') 0 0/cover   no-repeat;
    }
    .dark .arrage_cards_card_th{
        background: url('src/assets/img/dark_card_we_do_th.svg') 0 0/cover   no-repeat;
    }
}
@media (max-width: 939px){
    .dark .form_contact{
        background: none !important;
    }
}
/* .dark .sleceted_header{
    background: rgba(251,251,251,.1)!important;
} */